<div class="row">
    <div class="col-md">
        <div class="container">
            <h2 class="text-center">Login</h2>
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" name="Email" id="">
                </div>

                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="Password" id="">
                </div>

                <a href="/signup">Create new Account</a>

                <button type="submit" class="btn btn-primary float-right">Login</button>

            </form>
        </div>
    </div>
</div>